.font-2-3 {
    font-size: calc(2rem + 3vw);
}


.font-15-2 {
    font-size: calc(1rem + 0.5vw);
}

.font-065-05 {
    font-size: calc(0.65rem + 0.5vw);
}

.font-07-05 {
    font-size: calc(0.7rem + 0.5vw);
}